.pokemon-grid-container {
  display: grid;
  gap: 1.2rem;

  grid-template:
    "a"
    "b"
    "c"
    "d";
}

.pokemon-loading,
.pokemon-answer-feedback {
  font-size: 2rem;
  text-align: center;
}

.pokemon-loading {
  margin: 10rem 0;
}

.pokemon-answer-feedback {
  margin: 5rem 0;
}

@media only screen and (min-width: 1024px) {
  .pokemon-grid-container {
    grid-template:
      "a b"
      "c d";
  }
}
